body {
    background-color: #8646bd;
    color: #ffffff;
}

.uiverse {
    --c-color: #8646bd;
    outline: none;
    cursor: pointer;
    border: none;
    position: relative;
    border-radius: 24px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--c-color);
    overflow: hidden;
    min-width: 132px;
    padding: 12px 2px;
    margin: 10px auto;
    display: block;
}